<div class="control-group">
  <div class="controls">
    <%= hidden_field_tag "user[role_ids][]", nil %>
    <% Role.all.each do |role| %>
        <%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id), :id => dom_id(role) %>
        <%= label_tag dom_id(role), role.name, :class => 'checkbox' %>
    <% end %>
  </div>
</div>
