<figure class="float-left">
  <img alt="Lion President Nancy" class="thumbnail" src="/paperclip_assets/users/000/000/016/original/NancyJ.jpg?1346821973"/>
  <figcaption>Lion President Bob</figcaption>
</figure>



<h4><em>ROBERT ROARS</em></h4><p>
  Dear Lion&rsquo;s of Massanutten,</p>
<p>With the planning for next year well underway, I&rsquo;m beginning to feel like 2011-2012 is quickly coming to a
  close. However, we all have a lot to accomplish before we turn things over to a new year starting in July. I plan to
  concentrate on four items that need to be completed:<br/>
  &nbsp;</p>
<p>1. Golf Outing, Saturday, June 9th.<br/>
  2. A power point presentation titled &ldquo; Celebrating Twenty Years of the McGaheysville-Massanutten Lions Club&quot;.<br/>
  3. The dedication of a memorial at the Village entrance in honor of Lion Karl Klawiter.<br/>
  4. Plan a successful Charter Night, Tuesday, June 5th.</p>
<p>
  I have recruited a small select committee for items two and three; however items one and four requires all of you as
  members to participate in order to make these events the best ever.
</p>
<p>
  As for the golf outing the fundraising committee under J.C.&rsquo;s leadership is already busy securing donations. All
  of the other areas such as soliciting teams, working on registration, running putting contest, serving food (breakfast
  and lunch), putting up signs and serving drinks during play all need Lions to make it work. Lion Ron B. will be glad
  to put you to work.
  &nbsp;</p>
<p>As far as Charter Night the Tamers are working hard with me to make it a major evening in the life of our club. For
  starters we hope to have some &ldquo;live&rdquo;
  entertainment. We also have Virginia&rsquo;s own Past International Director Wayne Davis as our installing officer. We
  have been promised the large dining room at L&rsquo;Italia Restaurant based on having forty or more in attendance.
  That&rsquo;s were you all play a major role. Please try to join us on Tuesday, June 5th starting at 6:00 P.M. Phone
  calls will be made in late May to take your reservation. </p>
<p>
  Let&rsquo;s all end the year by successfully completing all four items.</p>
<p>
  Thank you for doing your part.</p>
<p>
  Yours-in-Lionism.</p>
<p>Bob</p>
<hr>
<h4>
  MAY BIRTHDAYS</h4>
<table>
  <colgroup>
    <col style="width:50%"/>
    <col style="width:50%"/>
  </colgroup>
  <tbody>
  <tr>
    <td>
      <img alt="Box" src="/assets/box-573d2ed80001bd6dbc6547422291ff06.jpg"/></td>
    <td>
      <em>Lion J. C. P. ...&nbsp;May 1</em><br>
      <em>Lion Ron Z. ... May 2</em><br>
      <em>Lion Ken K.... May 7</em><br>
      <em>Lion Ed B. ... May 11</em><br>
      <em>Lion Gene H. ... May 15</em><br>
      <em>Lion Barb B.... May 22</em><br>
      <em>Lion Marge K. ... May 30</em><br></td>
  </tr>
  </tbody>
</table>
<hr>
<h4>MAY 1 MEETING SPEAKER</h4>
<p>Our May speaker will be Allison Morris, Director of the Elkton Community Center. She will be speaking on the past,
  present and future of the Center.&nbsp; The Center provides community activities for Eastern Rockingham County.</p>
<hr>
<h4>MAY 15 MEETING SPEAKER</h4>
<p>Our May 15 speaker will be the daughter of Lion Peggy C.&nbsp; Paula was the first woman south of the Mason-Dixon
  line to complete the Iditarod. The Iditarod is a 1,161 mile dog-sled race across Alaska.&nbsp; Paula grew up in
  Columbia, Maryland and is a graduate of the University of Maryland School of Nursing. She now lives in Two Rivers,
  Alaska, which is about 20 miles from Fairbanks.</p>
<p>
  She first became interested in the Iditarod when she was a nurse based out of Nome, AK. She decided she wanted to run
  the race which she did in 1995 and in fact finished the race. Paula is now based out of Fairbanks as a nurse to 15
  Athabascan Indian villages in the interior of Alaska.&nbsp;&nbsp; She is also a sexual assault nurse and is a
  participant in many conferences on the subject.&nbsp; Paula will tell about the remote villages and the many different
  things she has to do there, as she is usually the only medical person that most of these native Alaskans will ever
  see. </p>
<hr>
<h4>
  2012-2013 GRANTS COMMITTEE</h4>
<p>Lion Cathy Z. Co-chairperson of the 2012-2013 Grants Committee is requesting lions to call her if they have a desire
  to serve on this important committee. This committee makes recommendations to the Board of Directors as to the
  expenditure of funds for projects. </p>
<hr>
<h4>LIONS STATE CONVENTION</h4>
<p>The 89th Virginia Lions State Convention will be held May 17 to 20, 2012 at Chesapeake, Virginia. Thursday night will
  be the Caribbean Night. Friday will begin with the District Cabinet meeting, then the Pin Traders Luncheon followed by
  the James Bland music competition at night. Saturday will have the LOVF Luncheon and the Dinner Banquet with PID Ron
  Johnson from Maine as speaker. Voting will be on Sunday morning at the district meeting. We will have a contest for
  International Director with Ken I. as the candidate from 24-C. Lion Grover J. has copies of the registration forms. If
  you need forms to register please see Lion Grover J.</p>
<hr>
<h4>GOLF
  TOURNAMENT</h4>
<p>The Golf outing is set for June 9, 2012 at&nbsp;Great Eastern&#39;s &nbsp;Mountain Greens Golf Course starting at
  9:00 A.M.</p>
<p>
  We have reviewed the quality/condition of hole sponsor signs....many are worn/torn and most will be replaced.&nbsp; We
  have made appointments with golf courses for this Tues, to purchase/seek equipment donations for door prizes.&nbsp; We
  only have 3 teams confirmed so we need everyone to push getting people signed up to play. We had a good &#39;kick off&#39;
  meeting with&nbsp;the solicitation team and the team is currently on the road to seek donations for 2012.&nbsp; We are
  pursuing foursome play passes as donations from area golf courses.</p>
<p>
  Lions Club letters to area courses should be mailed to them this week.&nbsp; May will be a busy month for us as we
  button down tournament needs. </p>
<hr>
<h4>INSTALLATION BANQUET SET FOR JUNE 5</h4>
<p>Our installation banquet will be held June 5, 2012 and PID Wayne Davis will be the installing officer. This will be
  at the La&rsquo;Itallia Restaurant in Harrisonburg starting at 6:30 p.m.&nbsp; The telephone committee will be calling
  to get a head count.&nbsp; The cost will be $20.00 per person and pasta will be the meal.</p>
<hr>
<h4>SYNOPSIS OF&nbsp;APRIL 3&nbsp;MEETING</h4>
<p>Ann Lentz introduced our guest speaker who represented a program on Limes Disease.</p>
<p>
  Lion President Bob B. gave a report. He stated that we be having a joint meeting with Harrisonburg to celebrate our
  20th year with the club who charted us. We will be meeting with them on April 17. Happy hour start 6:00 PM. We are
  making progress with VDOT on the entrance to Massanutten.</p>
<p>
  Lion Secretary Grover J. stated that we received a thank you from Massanutten Presbyterian Church thanking us for the
  food donation. We received a letter from Gordonsville club stating that they have a candidate of PCC Ken Iassc for
  International Director.</p>
<p>
  Lion Treasurer Lucy P reported that the Administration fund had a $646.83 balance of March 1, 2012. The Activities
  Fund has a balance of $12,560.60 as of March 1, 2012. We have made donations of $11, 882.00 in the month of
  February.</p>
<h5>Committee Reports:
</h5>
<p>
  CONVENTION: Lion Grover J. reported that the 89th Virginia Lions State Convention will be held May 17 to 20, 2012 at
  Chesapeake, Virginia. Thursday night will be the Caribbean Night. Friday will begin with the District Cabinet meeting,
  then the Pin Traders Luncheon followed by the James Bland music competition at night. Saturday will have the LOVF
  Luncheon and the Dinner Banquet with PID from Maine as speaker. Voting will be on Sunday morning at the district
  meeting. If you need a registration form see Lion Secretary Grover.</p>

<p>
  NOMINATION: Lion Nancy J. read the nominated Officers for 2012-2013 are as follows:</p>

<p> President: Nancy J.<br>
  First Vice President: Ronald B.<br>
  Second Vice President: Buddy F.<br>
  Third Vice President: Steve K.<br>
  Secretary: Grover J.<br>
  Treasurer: Lucy P.<br>
  Tail Twister: Ron Z.<br>
  Lion Tamer: Sandy K.<br>
  Lion Tamer: Heather G.<br>
  Two year Director: Cathy Z.<br>
  Two year Director: June M.<br>
  One year Director: Barbara B.<br>
  One year Director: Ken K.<br>
  Membership Chairman: Sharon B.<br>
  Past President/ Director: Robert B.</p>

<p> Motion by J. C. P. that we elect the slate of officers as presented. Seconded and passed.</p>

<p>
  GOLF TOURNAMENT: The Sponsor letters are out. We are working on getting the other letters sent and get them out to the
  golf courses and players. The Tournament will be held June 9, 2012 starting at 9:00 a.m. We have collected $7,275.00
  in sponsor money.</p>

<p>
  GRANTS: Lion Cathy Z. stated that the committee is recruiting members for next year.</p>

<p>
  LOVF: Lion Bob B. reported that we need to return the LOVF raffle tickets and money by the first meeting in May. We
  get 2/3 of the money raised. We will have tickets at next meeting.</p>

<p>
  VALLEY VOICE: We currently have 10 members reading in this program. In June we will be issuing the next 6 month
  schedule.</p>

<p>
  MEMBERSHIP: We have more people to contact. We hope to install more new members in May.</p>

<p>
  VISITATIONS: We are closing in getting our visitation completed.</p>

<h5>Old Business:</h5>

<p>No old business</p>
<h5> New Business:</h5>

<p>Motion made by Grover Jaeger that the Massanutten Lions Club support Lion PCC Ken Iassc as our candidate for
  International Director seconded and passed. The next meeting will be a joint meeting with Harrisonburg Lions. </p>

<hr>
<h4>SYNOPSIS OF&nbsp;APRIL 17&nbsp;MEETING</h4>

<p> President&rsquo;s report was given by President Lion Bob Chandler thanking everyone for coming to this joint meeting
  of the Harrisonburg and Massanutten Lions. He also thanked the wife&rsquo;s of Hose Company No 4 who prepared the
  meal.</p>

<p>
  No Secretary&rsquo;s report was given.</p>

<p>No Treasurer&rsquo;s report was given.</p>
<h5>
  Committee Reports:</h5>

<p>
  STATE CONVENTION: Lion Grover J stated that we have a 24-C lion that is running for International director and it is
  imperative that we send enough Lions to support him.</p>

<p>
  GOLF OUTING: Lion Ron B. reported that we are having a golf tournament on June 9 at 9:00 a.m. at the Mountain Greens
  Golf course. The proceeds support EAUS, The Elkton Family and Children&rsquo;s Clinic and the Harrisonburg/Rockingham
  Dental Clinic.</p>

<p>
  VALLEY VOICE: Ed B. reported that the Massanutten lions read at the Valley Voice which helps blind people living in
  the Valley.</p>

<p>
  No Old business</p>

<p>
  New Business: Lion Chuck A., a charter member of the Massanutten Lions, presented awards to Lion Ray Wine, Lion Steven
  Heintz and PDG James Fukumoto. These three lions worked very hard to get our club started and charted on April 1,
  1992. </p>

<hr>
<h4>COMMITTEE REPORTS</h4>
<h5>May 1 Meeting</h5>


<table class="table table-striped table-bordered table-condensed table-hover">
  <tbody>
  <tr>
    <td>
      Convention: Chair- Grover J.
    </td>
  </tr>
  <tr>
    <td>
      Golf Tournament: Chair - Ron B.
    </td>
  </tr>
  <tr>
    <td>
      LOVF: Chair- Mike H.
    </td>
  </tr>
  <tr>
    <td>
      Stamps: Chair- Sue J.
    </td>
  </tr>
  <tr>
    <td>
      Safety Town: Chair- June M.
    </td>
  </tr>
  <tr>
    <td>
      Telephone: Chair - Carol M.
    </td>
  </tr>

  </tbody>
</table>
<h5>May 15 Meeting</h5>

<table class="table table-striped table-bordered table-condensed table-hover">
  <tbody>
  <tr>
    <td>
      Golf Tournament: Chair - Ron B.
    </td>
  </tr>
  </tbody>
</table>

<hr>
<h4>
  FINANCIAL REPORT</h4>

<p>The following Grants were paid in March: Kids Harbor Preschool $ 220.00; Eyeglass $ 500.00;School bookmark program
  $44.00.</p>
<table class="table table-striped table-bordered table-condensed table-hover">
  <colgroup>
    <col style="width:30%"/>
    <col style="width:20%"/>
    <col style="width:30%"/>
    <col style="width:20%"/>
  </colgroup>
  <thead>
  <tr>
    <th colspan="2" rowspan="1">
      Activities
    </th>
    <th colspan="2" rowspan="1">
      Administration
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Balance February 29, 2012
    </td>
    <td>
      $ 12,560.60
    </td>
    <td>
      Balance February 29, 2012
    </td>
    <td>
      $ 646.83
    </td>
  </tr>
  <tr>
    <td>
      Bingo Income
    </td>
    <td>
      1,629.91
    </td>
    <td>
      Dues Income
    </td>
    <td>
      130.00
    </td>
  </tr>
  <tr>
    <td>
      LOVF Income
    </td>
    <td>
      90.00
    </td>
    <td>
      Refreshment Income
    </td>
    <td>
      657.00
    </td>
  </tr>
  <tr>
    <td>
      Progressive Income
    </td>
    <td>
      - 400.00
    </td>
    <td>
      Tail Twister Income
    </td>
    <td>
      69.06
    </td>
  </tr>
  <tr>
    <td>
      Bingo Expense
    </td>
    <td>
      - 926.50
    </td>
    <td>
      Expense Meals
    </td>
    <td>
      -143.63
    </td>
  </tr>
  <tr>
    <td>
      Expense Golf
    </td>
    <td>
      -67.95
    </td>
    <td>
      Misc. Expense
    </td>
    <td>
      -52.14
    </td>
  </tr>
  <tr>
    <td>
      Misc. Expense
    </td>
    <td>
      - 28.91
    </td>
    <td>
      Balance March 31, 2012
    </td>
    <td>
      $ 1,307.12
    </td>
  </tr>
  <tr>
    <td>
      Grants Expense
    </td>
    <td>
      - 764.00
    </td>
    <td>
      &nbsp;</td>
    <td>
      &nbsp;</td>
  </tr>
  <tr>
    <td>
      Balance March 31, 2012
    </td>
    <td>
      $ 11,166.65
    </td>
    <td>
      &nbsp;</td>
    <td>
      &nbsp;</td>
  </tr>
  </tbody>
</table>

<hr>

<h4>
  2011-12 BOARD OF DIRECTORS</h4>
<table>
  <tbody>
  <tr>
    <td width="50%">
      <em>President:</em> Lion Robert B.<br/>
      <em>First Vice President:</em> Lion Nancy J.<br/>
      <em>Second Vice President:</em> Lion Ronald B.<br/>
      <em>Third Vice President:</em> Lion Buddy F.<br/>
      <em>Secretary:</em> Lion Grover J.<br/>
      <em>Treasurer:</em> Lion Lucy P.<br/>
      <em>Lion Tamer:</em> Lion Pat N.<br/>
      <em>Lion Tamer:</em> Lion Mittee C.<br/>
      <em>Tail Twister:</em> Lion Mike H.<br/>
      <em>Membership Chair:</em> Lion Marge K.<br/>
      <em>Director 1 Year:</em> Lion Sharon B.<br/>
      <em>Director 1 Year:</em> Lion Sandy K.<br/>
      <em>Director 2 Year:</em> Lion Barry E.<br/>
      <em>Director 2 Year:</em> Lion Ken K.<br/>
    </td>
    <td align="center" width="50%">
      <img alt="2012-2013bods" src="/paperclip_assets/club_info/000/000/001/large/2012-2013BODs.jpg?1359576741"/><br/>
      <i class="center">2011-12 Board of Directors</i></td>
  </tr>
  </tbody>
</table>
<hr>
<h4>COMING EVENTS</h4>
<h5> May 2012</h5>
<table class="table table-striped table-hover table-bordered table-condensed">
  <tbody>
  <tr>
    <td>
      May 1, 2012, 7:00 PM, General Meeting, MPOA
    </td>
  </tr>
  <tr>
    <td>
      May 15, 2012, 7:00 PM, Social Meeting, MPOA
    </td>
  </tr>
  <tr>
    <td>
      May 22, 2012, 7:00 PM, 2012-2013 Board Meeting, MPOA
    </td>
  </tr>
  <tr>
    <td>
      May 3, 10, 17, 24, 31 Bingo 5-9 PM, Woodstone Meadows Recreation Building
    </td>
  </tr>

  </tbody>
</table>
<h5> June 2012</h5>
<table class="table table-striped table-hover table-bordered table-condensed">
  <tbody>
  <tr>
    <td>
      June 5, 2012, 6:30 PM, Installation Banquet, La&rsquo;Itallia Restaurant in Harrisonburg
    </td>
  </tr>
  </tbody>
</table>
<hr>