<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">  <%= link_to (image_tag("lionlogo_2c.jpg", :alt => "The McGaheysville-Massanutten Lions Club", :size => "55x55", :class => "center logo")), root_path %></div>
        <div class="span6 center"><%= image_tag "head.gif", :class => "logo" %></div>
        <div class="span3">  <%= render "layouts/navigation" %></div>
      </div>
    </div>
  </div>
</div>
